* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #BBEAFA, #19489F);
    padding: 10px;

}

.to-do-box {
    width: 100%;
    max-width: 540px;
    background: #FFF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

h3 {
    color:#19489F;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h3 img {
    width:30px;
    margin-left: 10px;
}


.add-task {
    display: flex;
    border-radius: 30px;
    background: #dfe1e4;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

input {
    flex: 1;
    border-radius: 10px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    background: rgba(221, 76, 9, 0.719);
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 16px 50px;
    font-size: 14px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 15px;
    padding: 12px 8px 12px 50px;
    color:#19489F;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}

ul li.checked {
    color:#19489F;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(To-Do-Img/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align:center;
    border-radius: 50%;
}

ul li span:hover {
    background: #dfe1e4;
}